@page "/exchangerates"
@rendermode InteractiveServer

<h1>Exchange rates</h1>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Start date</span>
    </div>
    <input type="date"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="startDate">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">End date</span>
    </div>
    <input type="date"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="endDate">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Currency codes</span>
    </div>
    <input type="text"
           class="form-control"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm"
           @bind="currencyCodes"
           placeholder="e.g., EUR,GBP,USD">
</div>

<button type="button" class="btn btn-primary" @onclick="LoadData">Load</button>

@if (hasData)
{
    @foreach (var item in this.items)
    {
    <ul>
        <li>Date: @item.Date
            <table class="table">
                <thead>
                    <tr>
                        <th>Currency code</th>
                        <th>Unit</th>
                        <th>Exchange rate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rate in item.Rates)
                    {
                        <tr>
                            <td>@rate.CurrencyCode</td>
                            <td>@rate.Unit</td>
                            <td>@rate.ExchangeRate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </li>
    </ul>
    }
}