@page "/"
@rendermode InteractiveServer

<h1>Home</h1>

<div>Base currency code: @MnbClient.BaseCurrencyCode</div>

<button type="button" class="btn btn-primary" @onclick="HealthCheck">HealthCheck</button>

<pre>
    @logs
</pre>